<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>$Title$</title>
    <link rel = "stylesheet"  href = "../static/css/query_top.css"/>
    <link rel = "stylesheet"  href = "../static/css/query_main.css"/>
    <link  rel="stylesheet" href="../static/css/query.css">
    <script type = "text/javascript" src = "../static/js/jquery-3.2.1.min.js"></script>
    <script type = "text/javascript" src="../static/js/query.js"></script>

</head>
<body>
<!--<input type="hidden" th:text="${serverResponse}" id="nameServerResponse"/>-->
<div class = "top" ></div>
<div class = "main">
    <div class = "main_content al_ju_cc">
        <div class = "log_up al_ju_cc">
            <table cellspacing="0" cellpadding="0">
                <form action="/logUpUser" method="post">
                    <h1>log up</h1>
                    <tr>
                        <td>用户名：</td>
                        <td><input type = "text" class = "logUp_text" id = "logUp_userName"  name = "logUp_userName"></td>
                        <td><span class = "hint_logUp" id = "hint_logUp_userName"></span></td>
                        <td><span id="userNameHint"></span><span id = "regexpName"></span></td>
                    </tr>
                    <tr>
                        <td>密码：</td>
                        <td><input type = "password" class = "logUp_text" id = "logUp_pwd" name = "logUp_pwd"></td>
                        <td><span class = "hint_logUp" id = "hint_logUp_pwd"></span></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>确认密码：</td>
                        <td><input type = "password" class = "logUp_text" id = "checkpwd"></td>
                        <td><span class = "hint_logUp" id = "hint_logUp_checkpwd"></span></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>手机号：</td>
                        <td><input type = "text" class = "logUp_text" id = "logUp_phone"  name = "logUp_phone"></td>
                        <td><span class = "hint_logUp" id = "hint_logUp_phone"></span></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>邮箱：</td>
                        <td><input type = "text" class = "logUp_text" id = "logUp_email"  name = "logUp_email"></td>
                        <td><span class = "hint_logUp" id = "hint_logUp_emil"></span></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>问题：</td>
                        <td><input type = "text" class = "logUp_text" id = "question"  name = "question"></td>
                        <td><span class = "hint_logUp" id = "hint_logUp_question"></span></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>问题：</td>
                        <td><select class = "logUp_text" id="questionSelect" name="questionSelect">
                            <option value="1">你的名字</option>
                            <option value="2">你的生日</option>
                            <option value="3">你爱吃啥</option>
                        </select></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                    <td>答案：</td>
                    <td><input type = "text" class = "logUp_text" id = "answer"  name = "answer"></td>
                    <td></td>
                    <td></td>
                </tr> <tr>
                    <td>role：</td>
                    <td><input type = "text" class = "logUp_text" id = "role"  name = "role"></td>
                    <td><span class = "hint_logUp" id = "hint_logUp_role"></span></td>
                    <td></td>
                </tr>
                    <tr>
                        <td></td>
                        <td><input type = "submit" id = "logUp_sub" value="注  册"/></td>
                        <td></td>
                    </tr>
                </form>

            </table>

        </div>

    </div>
</div>
<div class = "bottom"></div>
</body>
</html>